<%= render 'error' %>

<h1>Edit Lesson Plan: </h1>

<%= render 'form' %>

<%= form_tag user_lesson_plan_path(@lesson_plan), :method => :delete, data: {confirm: "Are you sure?"} do %>
  <%= submit_tag "Delete Lesson Plan" %>
<% end %>