<h1> You are now logged in!</h1>

<p> <%= "Welcome, #{@user.name}!" %> </p>
<p> Your Information: </p>
  <ul>
    <li> Email: <%= @user.email %> </li>
    <li> School: <%= @user.school %> </li>
    <li> Grade Taught: <%= @user.grade %> </li>
  </ul>