@media screen {
  /* --- Reset Styles --- */
  * {
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
    display: grid;
  }

  body {
    background-color: #c9b1bd;
    color: black;
    font-family: 'helvetica';
    line-height: 18px;
  }

.body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .nav { grid-area: 1 / 1 / 2 / 9; }
  .photo { grid-area: 2 / 1 / 5 / 9; }
  .content-one{ grid-area: 5 / 1 / 9 / 5; }
  .content-two { grid-area: 5 / 5 / 9 / 9; }