@media screen {
  /* --- Reset Styles --- */
  * {
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
    display: grid;
  }

  body {
    background-color: #768948;
    color: black;
    font-family: 'helvetica';
    line-height: 18px;
  }

  nav {
    background-color: #B39C4d;
    border-bottom: #1E2F23 1px solid;
    padding: 10px; 
  }

  .content {
    width: 75%;
    height: auto;
  }

  footer {
    background-color: #B39C4d;
    border-top: #1E2F23 1px solid;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: #1E2F23;
  }