@media screen {
  /* --- Reset Styles --- */
  * {
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
    display: grid;
  }

  body {
    background-color: #768948;
    color: black;
    font-family: 'helvetica';
    line-height: 18px;
    display: block;
  }

  nav {
    background-color: #B39C4d;
    border-bottom: black 1px solid;
    padding-top: 10px;
    width: 100%;
    height: 30px; 
  }

  .nav-left {
    float: left;
    padding-left: 15px;
  }
  .nav-right {
    float: right;
    padding-right: 15px;
  }

  .content {
    width: 75%;
    margin: auto;
    padding: 50px;
    display: inline-block;
  }
  input {
    background-color: #b9b092;
    color: black;
    padding: 3px;
    margin-bottom: 4px;
    border: 1px solid black;
  }
  .form-container {
    display: flex;
    flex-wrap: nowrap;
  }
  .field {
    display: flex;
    justify-content: space-between;
    line-height: 14px;
    flex-wrap: nowrap;
    align-self: center;
  }
  .select {
    background-color: #b9b092;
    color: black;
    padding: 5px;
    margin-bottom: 4px;
    border: 1px solid black;
  }
  select {
    background-color: #b9b092;
    color: black;
    padding: 5px;
    margin-bottom: 3px;
    border: 1px solid black;
  }
  .actions input {
    padding: 5px 10px;
  }
  .checkbox {
    flex-basis: auto;
  }
  .checkbox-container {
    display: flex;
    flex-direction: column;
    justify-content: start;

  }
  a {
    text-decoration: none;
    color: #1E2F23;
  }
  h1 {
    margin-bottom: 4px;
    padding-bottom: 5px;
    letter-spacing: 3px;
  }